@font-face {
  font-family: RoobertPRO;
  font-display: swap;
  src: url(../fonts/RoobertPRO-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: RoobertPRO;
  font-display: swap;
  src: url(../fonts/RoobertPRO-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: RoobertPRO,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: RoobertPRO,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  scrollbar-gutter: stable;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.lock body {
  overflow: hidden;
  touch-action: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .625rem 1fr minmax(auto,0) 1fr .625rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
[class*=__container] {
  width: 100%;
  padding-inline: 1.25rem;
  margin-inline: auto
}
*::-webkit-scrollbar {
  width: 5px
}
*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0)
}
*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 3px
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 2;
  font-weight: 700;
  color: #fff;
  transition: color .3s ease
}
.btn_one,
.btn_two {
  border: .09375rem solid hsla(0,0%,100%,.5)
}
.btn_one span,
.btn_two span {
  display: inline-block;
  position: relative;
  z-index: 2
}
.btn_one::after,
.btn_one::before,
.btn_two::after,
.btn_two::before {
  content: "";
  position: absolute;
  transition: opacity .3s ease,width .3s ease
}
.btn_one {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  aspect-ratio: 489/93
}
.btn_one:before {
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  aspect-ratio: 441/48;
  width: 90%;
  background: linear-gradient(90deg,#7ebaf2 0,#5177ff 100%)
}
.btn_one::after {
  z-index: 0;
  inset: 0;
  box-shadow: 0 0 23px 0 #fff,inset 0 0 25px 0 hsla(0,0%,100%,.57);
  background: hsla(0,0%,100%,.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px)
}
.btn_two {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 321/82
}
.btn_two:before {
  z-index: 0;
  inset: 0;
  background: linear-gradient(180deg,#5177ff 0,#b3c4ff 100%)
}
.btn_two::after {
  z-index: 0;
  inset: 0;
  background-color: #5177ff;
  opacity: 0
}
.btn_two:active {
  color: #000
}
.btn_two:active::after {
  opacity: 0
}
.btn_two:active::before {
  background: linear-gradient(180deg,#b3c4ff 0,#fff 100%)
}
.btn_two::after,
.btn_two:before {
  box-shadow: inset 0 0 26px 4px hsla(0,0%,100%,.8),inset 8px 7px 2px 0 hsla(0,0%,100%,.15);
  backdrop-filter: blur(50px)
}
.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  background: linear-gradient(180deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%)
}
.header__container {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__logo {
  position: relative;
  z-index: 5;
  display: block
}
.header__logo img {
  width: 100%;
  height: auto
}
.menu__list {
  display: flex;
  gap: 1.875rem 3.3125rem
}
.hero {
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.hero__container {
  text-align: center;
  display: grid
}
.hero__subtitle:not(:last-child) {
  margin-bottom: 3.125rem
}
.hero__link {
  margin-inline: auto
}
.what__container {
  text-align: center
}
.what__txt {
  line-height: 1.15
}
.space {
  border-top: .0625rem solid #5177ff;
  border-bottom: .0625rem solid #5177ff
}
.space__item {
  position: relative
}
.space__item:before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  aspect-ratio: 1/1;
  background-image: url(../img/icons/point.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}
.spaces__body {
  display: flex;
  flex-direction: column;
  height: 100%
}
.spaces__head {
  flex: 1;
  padding-bottom: 1.1875rem;
  border-bottom: .0625rem solid #5177ff
}
.spaces__title {
  margin-bottom: .8125rem
}
.spaces__lable {
  color: #888
}
.spaces__image {
  overflow: hidden
}
.spaces__image img {
  aspect-ratio: 351/402;
  transition: -webkit-transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease,-webkit-transform .7s ease;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}
.details {
  display: grid;
  place-items: center
}
.details__body {
  text-align: center
}
.details__txt {
  line-height: 1.15;
  max-width: 80%;
  margin-inline: auto
}
.details__link {
  margin-inline: auto
}
.social__body,
.social__btm,
.social__top,
.txt-block {
  display: grid;
  gap: .6875rem
}
.social__title {
  text-align: center
}
.social__body {
  text-align: center;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 2.5rem
}
.social__txt {
  line-height: 1.15;
  text-align: center;
  margin-bottom: 2.5rem
}
.social__link {
  margin-inline: auto
}
.top-scl__clm {
  display: flex;
  flex-direction: column;
  gap: .6875rem
}
.top-scl__clm .img-block {
  flex: 1
}
.txt-block {
  grid-template-columns: 1fr 1fr
}
.txt-block__item {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 234/98;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg,#5177ff 0,#b3c4ff 100%)
}
.txt-block__item::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: .0625rem;
  background-color: #fff
}
.txt-block__item p {
  position: relative;
  z-index: 2
}
.img-block {
  position: relative;
  overflow: hidden
}
.img-block:has(.img-block__mask) {
  cursor: pointer
}
.img-block__mask {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: grid;
  place-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0,0,0,.3);
  transition: opacity .3s ease
}
.img-block__mask p {
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  color: #fff
}
.img-block__mask::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: rgba(0,0,0,.3)
}
.img-block__mask:hover {
  opacity: 0
}
.img-block__mask:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}
.community {
  background-color: #bf810a
}
.community__container {
  position: relative;
  z-index: 5
}
.community__title-wr {
  position: sticky;
  top: 0;
  z-index: 0;
  min-height: 100svh;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto
}
.community__title {
  color: #fff
}
.events__items {
  display: grid;
  gap: 3.5rem 2.8125rem
}
.events__item {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(49px);
  -webkit-backdrop-filter: blur(49px);
  box-shadow: inset 0 0 26px 4px hsla(0,0%,100%,.8),inset 8px 7px 2px 0 hsla(0,0%,100%,.15),2px 4px 15px 0 rgba(0,0,0,.15);
  background: linear-gradient(180deg,rgba(255,183,46,.2) 20%,#fff 100%);
  line-height: 1.15
}
.events__img img {
  aspect-ratio: 500/526
}
.events__title {
  border-top: .0625rem solid #515151;
  border-bottom: .0625rem solid #515151
}
.events__dscr {
  flex: 1;
  color: #515151
}
.events__dscr P:not(:last-child) {
  margin-bottom: .625rem
}
@media (min-width:30.06125em) {
  .hero {
    background-image: url(../img/hero/hero-bg-pc.webp)
  }
  .community__title-wr {
    background-image: url(../img/community/community-pc.webp);
    mask-image: linear-gradient(to bottom,#bf810a 70%,transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom,#bf810a 70%,transparent 100%)
  }
}
@media (min-width:43.81125em) {
  .space__top {
    display: grid;
    grid-template-columns: 1fr 53%
  }
  .space__top-lft {
    max-width: 78%
  }
  .space__bottom {
    display: grid;
    grid-template-columns: 53% 1fr
  }
  .spaces__list {
    display: grid;
    grid-template-columns: 1fr 1fr
  }
  .social__top {
    grid-template-columns: 1fr 27% 1fr
  }
  .social__btm {
    grid-template-columns: 1fr 42% 1fr
  }
  .community__mask {
    min-height: 120svh
  }
  .events__items {
    grid-template-columns: repeat(2,1fr);
    max-width: 88%;
    margin-inline: auto;
    margin-bottom: 25%
  }
  .events__item:nth-child(2) {
    -webkit-transform: translateY(65%);
    transform: translateY(65%)
  }
}
@media (min-width:48.06125em) {
  .menu__list {
    align-items: center
  }
  .menu__link {
    font-size: 1.25rem;
    transition: color .3s ease
  }
  .icon-menu {
    display: none
  }
  .icon-menu__ic {
    display: none
  }
  .what__txt {
    max-width: 79%;
    margin-inline: auto
  }
  .social__txt {
    max-width: 77%;
    margin-inline: auto
  }
}
@media (min-width:48.06125em)and (any-hover:hover) {
  .menu__link:hover {
    color: #000
  }
}
@media (min-width:90.06125em) {
  .btn {
    font-size: 1.875rem
  }
  .btn_one {
    border-radius: .625rem
  }
  .btn_one {
    padding-left: 3.125rem
  }
  .btn_one {
    padding-right: 3.125rem
  }
  .btn_one::after {
    border-radius: .625rem
  }
  .btn_two {
    padding-left: 4.6875rem
  }
  .btn_two {
    padding-right: 4.6875rem
  }
  .btn_two::after,
  .btn_two:before {
    border-radius: .9375rem
  }
  .header {
    min-height: 7.8125rem
  }
  .header__logo {
    max-width: 10.0625rem
  }
  .hero__title {
    margin-bottom: 3.125rem
  }
  .what__title {
    margin-bottom: 3.125rem
  }
  .space__title {
    margin-bottom: 3.125rem
  }
  .details__title:not(:last-child),
  .details__txt:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .social__title {
    margin-bottom: 2.25rem
  }
}
@media (min-width:217.56125em) {
  .details__link {
    min-width: 40rem
  }
}
@media (min-width:240.06125em) {
  [class*=__container] {
    max-width: 225rem
  }
  .title-hero {
    font-size: 18.5rem
  }
  .title-what {
    font-size: 8.125rem
  }
  .title-main {
    font-size: 5.625rem
  }
  .hero__subtitle {
    font-size: 10rem
  }
  .what {
    padding-top: 21.25rem
  }
  .what {
    padding-bottom: 21.25rem
  }
  .what__txt {
    font-size: 3.5rem
  }
  .space {
    padding-top: 8.75rem
  }
  .space {
    padding-bottom: 8.75rem
  }
  .space__top {
    margin-bottom: 3.125rem
  }
  .space__item {
    font-size: 3.75rem
  }
  .space__item {
    padding-left: 6.25rem
  }
  .space__item:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .space__item:before {
    width: 3.125rem
  }
  .spaces__list {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .spaces__head {
    margin-bottom: 3rem
  }
  .spaces__title {
    font-size: 3.75rem
  }
  .spaces__lable {
    font-size: 2.5rem
  }
  .events__img img,
  .img-block,
  .spaces__image,
  .txt-block__item,
  .txt-block__item::before {
    border-radius: 1.25rem
  }
  .details {
    padding-top: 11.25rem
  }
  .details__title {
    font-size: 5rem
  }
  .details__txt {
    font-size: 3.125rem
  }
  .social {
    padding-top: 8.125rem
  }
  .social {
    padding-bottom: 8.125rem
  }
  .social__txt {
    font-size: 3.125rem
  }
  .community__title {
    font-size: 14.375rem
  }
  .events__item {
    border-radius: 3.125rem
  }
  .events__item {
    padding: 4.25rem
  }
  .events__img {
    margin-bottom: 3.125rem
  }
  .events__title {
    font-size: 5rem
  }
  .events__dscr {
    font-size: 3.75rem
  }
  .events__dscr,
  .events__title {
    padding-top: 2.875rem
  }
  .events__title {
    padding-bottom: 2.875rem
  }
}
@media (min-width:240.055625em) {
  .txt-block__item p {
    font-size: 2.5rem
  }
  .img-block__mask p {
    font-size: 3.75rem
  }
}
@media (max-width:90.06125em) {
  [class*=__container] {
    max-width: 86.25rem
  }
  .space__top {
    margin-bottom: 2.1875rem
  }
  .spaces__list {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .spaces__head {
    margin-bottom: 1.5rem
  }
  .spaces__title {
    font-size: 1.875rem
  }
  .spaces__lable {
    font-size: 1.4375rem
  }
  .events__img img,
  .img-block,
  .spaces__image,
  .txt-block__item,
  .txt-block__item::before {
    border-radius: .625rem
  }
  .social {
    padding-top: 4rem
  }
  .social {
    padding-bottom: 4rem
  }
  .txt-block__item p {
    font-size: 1.25rem
  }
  .img-block__mask p {
    font-size: 1.875rem
  }
}
@media (max-width:48.06125em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 5rem .9375rem 1.875rem 1.875rem;
    transition: left .3s;
    background-color: #000
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: #000
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    min-height: 100%
  }
  .menu__link {
    font-size: 2.8125rem
  }
  .icon-menu {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center
  }
  .icon-menu__ic {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu__ic span,
  .icon-menu__ic::after,
  .icon-menu__ic::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu__ic::before {
    top: 0
  }
  .icon-menu__ic::after {
    bottom: 0
  }
  .icon-menu__ic span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu__ic span {
    width: 0
  }
  .menu-open .icon-menu__ic::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu__ic::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .details {
    padding-top: .9375rem
  }
}
@media (max-width:48.06125em)and (any-hover:none) {
  .icon-menu__ic {
    cursor: default
  }
}
@media (max-width:43.81125em) {
  .space__top-lft {
    max-width: 85%;
    margin-bottom: 4.375rem;
    margin-inline: auto
  }
  .space__title {
    text-align: center
  }
  .space__bottom-lft {
    display: none
  }
  .space__bottom-lft .spaces__list {
    display: none
  }
  .spaces {
    margin: 0 -1.25rem
  }
  .spaces__list {
    display: flex;
    overflow: auto;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }
  .spaces__list::-webkit-scrollbar {
    display: none
  }
  .spaces__item {
    width: 90%;
    height: 100%;
    flex: none;
    overflow-y: hidden;
    scroll-snap-align: center
  }
  .img-block {
    aspect-ratio: 390/250
  }
  .community__mask {
    min-height: 100svh
  }
  .events__items {
    margin-bottom: 3.5rem
  }
}
@media (max-width:30.06125em) {
  .btn {
    font-size: 1.25rem
  }
  .btn_one {
    border-radius: .3125rem
  }
  .btn_one::after {
    border-radius: .3125rem
  }
  .btn_two::after,
  .btn_two:before {
    border-radius: .625rem
  }
  .header {
    min-height: 3.375rem
  }
  .header__logo {
    max-width: 5.3125rem
  }
  .hero {
    background-image: url(../img/hero/hero-bg-mb.webp)
  }
  .hero__subtitle {
    font-size: 1.875rem
  }
  .what {
    padding-top: 6.625rem
  }
  .what {
    padding-bottom: 6.625rem
  }
  .what__title {
    margin-bottom: 2.5rem
  }
  .what__txt {
    font-size: 1.125rem
  }
  .space {
    padding-top: 3.125rem
  }
  .space {
    padding-bottom: 3.125rem
  }
  .space__title {
    margin-bottom: 2.5rem
  }
  .space__item {
    padding-left: 1.9375rem
  }
  .space__item:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .space__item:before {
    width: .8125rem
  }
  .details__title:not(:last-child),
  .details__txt:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .social__title {
    margin-bottom: 2.0625rem
  }
  .social__txt {
    font-size: 1.125rem
  }
  .community__title-wr {
    background-image: url(../img/community/community-mb.webp)
  }
  .events__item {
    border-radius: .625rem
  }
  .events__item {
    padding: 1.5rem
  }
}
@media (max-width:24.43625em) {
  .title-main {
    font-size: 2.1875rem
  }
  .hero__title {
    margin-bottom: 1.25rem
  }
  .space__item {
    font-size: 1.0625rem
  }
  .details__title {
    font-size: 1.875rem
  }
  .details__txt {
    font-size: 1.125rem
  }
  .events__img {
    margin-bottom: 1.0625rem
  }
  .events__title {
    font-size: 1.5625rem
  }
  .events__dscr {
    font-size: 1.125rem
  }
  .events__dscr,
  .events__title {
    padding-top: .9375rem
  }
  .events__title {
    padding-bottom: .9375rem
  }
}
@media (max-width:23.49875em) {
  .title-hero {
    font-size: 2.625rem
  }
  .title-what {
    font-size: 2.625rem
  }
  .community__title {
    font-size: 2.3125rem
  }
}
@media (max-width:22.56125em) {
  .btn_one {
    padding-left: .9375rem
  }
  .btn_one {
    padding-right: .9375rem
  }
  .btn_two {
    padding-left: 3.125rem
  }
  .btn_two {
    padding-right: 3.125rem
  }
  .txt-block__item p {
    font-size: 1rem!important
  }
}
@media (min-width:90.06125em)and (max-width:240.06125em) {
  [class*=__container] {
    max-width: clamp(86.25rem ,2.94334375rem + 92.5vw ,225rem)
  }
  .title-hero {
    font-size: clamp(7.125rem ,.2953552083rem + 7.5833333333vw ,18.5rem)
  }
  .title-what {
    font-size: clamp(4.0625rem ,1.6233411458rem + 2.7083333333vw ,8.125rem)
  }
  .title-main {
    font-size: clamp(2.8125rem ,1.1238515625rem + 1.875vw ,5.625rem)
  }
  .hero__subtitle {
    font-size: clamp(3.875rem ,.1974989583rem + 4.0833333333vw ,10rem)
  }
  .what__txt {
    font-size: clamp(1.75rem ,.6992854167rem + 1.1666666667vw ,3.5rem)
  }
  .space {
    padding-top: clamp(4.375rem ,1.7482135417rem + 2.9166666667vw ,8.75rem)
  }
  .space {
    padding-bottom: clamp(4.375rem ,1.7482135417rem + 2.9166666667vw ,8.75rem)
  }
  .space__top {
    margin-bottom: clamp(2.1875rem ,1.6246171875rem + .625vw ,3.125rem)
  }
  .space__item {
    font-size: clamp(1.875rem ,.749234375rem + 1.25vw ,3.75rem)
  }
  .space__item:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,.6243619792rem + 1.0416666667vw ,3.125rem)
  }
  .spaces__list {
    -webkit-column-gap: clamp(1.5625rem ,.6243619792rem + 1.0416666667vw ,3.125rem);
    -moz-column-gap: clamp(1.5625rem ,.6243619792rem + 1.0416666667vw ,3.125rem);
    column-gap: clamp(1.5625rem ,.6243619792rem + 1.0416666667vw ,3.125rem)
  }
  .spaces__head {
    margin-bottom: clamp(1.5rem ,.5993875rem + 1vw ,3rem)
  }
  .spaces__title {
    font-size: clamp(1.875rem ,.749234375rem + 1.25vw ,3.75rem)
  }
  .spaces__lable {
    font-size: clamp(1.4375rem ,.7995661458rem + .7083333333vw ,2.5rem)
  }
  .events__img img,
  .img-block,
  .spaces__image,
  .txt-block__item,
  .txt-block__item::before {
    border-radius: clamp(.625rem ,.2497447917rem + .4166666667vw ,1.25rem)
  }
  .details {
    padding-top: clamp(5.8125rem ,2.5477796875rem + 3.625vw ,11.25rem)
  }
  .details__title {
    font-size: clamp(2.5rem ,.9989791667rem + 1.6666666667vw ,5rem)
  }
  .details__txt {
    font-size: clamp(1.5625rem ,.6243619792rem + 1.0416666667vw ,3.125rem)
  }
  .social {
    padding-top: clamp(4rem ,1.523315625rem + 2.75vw ,8.125rem)
  }
  .social {
    padding-bottom: clamp(4rem ,1.523315625rem + 2.75vw ,8.125rem)
  }
  .social__txt {
    font-size: clamp(1.5625rem ,.6243619792rem + 1.0416666667vw ,3.125rem)
  }
  .community__title {
    font-size: clamp(7.1875rem ,2.8720651042rem + 4.7916666667vw ,14.375rem)
  }
  .events__item {
    border-radius: clamp(1.25rem ,.124234375rem + 1.25vw ,3.125rem)
  }
  .events__item {
    padding: clamp(2.125rem ,.8491322917rem + 1.4166666667vw ,4.25rem)
  }
  .events__img {
    margin-bottom: clamp(1.5625rem ,.6243619792rem + 1.0416666667vw ,3.125rem)
  }
  .events__title {
    font-size: clamp(2.5rem ,.9989791667rem + 1.6666666667vw ,5rem)
  }
  .events__dscr {
    font-size: clamp(1.75rem ,.5491833333rem + 1.3333333333vw ,3.75rem)
  }
  .events__dscr,
  .events__title {
    padding-top: clamp(1.4375rem ,.5744130208rem + .9583333333vw ,2.875rem)
  }
  .events__title {
    padding-bottom: clamp(1.4375rem ,.5744130208rem + .9583333333vw ,2.875rem)
  }
}
@media (min-width:23.49875em)and (max-width:90.06125em) {
  .title-hero {
    font-size: clamp(2.625rem ,1.0363521127rem + 6.7605633803vw ,7.125rem)
  }
  .title-what {
    font-size: clamp(2.625rem ,2.1175152582rem + 2.1596244131vw ,4.0625rem)
  }
  .community__title {
    font-size: clamp(2.3125rem ,.5914647887rem + 7.323943662vw ,7.1875rem)
  }
}
@media (min-width:24.43625em)and (max-width:90.06125em) {
  .title-main {
    font-size: clamp(2.1875rem ,1.9547738095rem + .9523809524vw ,2.8125rem)
  }
  .hero__title {
    margin-bottom: clamp(1.25rem ,.5518214286rem + 2.8571428571vw ,3.125rem)
  }
  .space__item {
    font-size: clamp(1.0625rem ,.7599559524rem + 1.2380952381vw ,1.875rem)
  }
  .details__title {
    font-size: clamp(1.875rem ,1.6422738095rem + .9523809524vw ,2.5rem)
  }
  .details__txt {
    font-size: clamp(1.125rem ,.9620916667rem + .6666666667vw ,1.5625rem)
  }
  .events__img {
    margin-bottom: clamp(1.0625rem ,.8763190476rem + .7619047619vw ,1.5625rem)
  }
  .events__title {
    font-size: clamp(1.5625rem ,1.2134107143rem + 1.4285714286vw ,2.5rem)
  }
  .events__dscr {
    font-size: clamp(1.125rem ,.8922738095rem + .9523809524vw ,1.75rem)
  }
  .events__dscr,
  .events__title {
    padding-top: clamp(.9375rem ,.7513190476rem + .7619047619vw ,1.4375rem)
  }
  .events__title {
    padding-bottom: clamp(.9375rem ,.7513190476rem + .7619047619vw ,1.4375rem)
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .btn {
    font-size: clamp(1.25rem ,.9368619792rem + 1.0416666667vw ,1.875rem)
  }
  .btn_one {
    border-radius: clamp(.3125rem ,.1559309896rem + .5208333333vw ,.625rem)
  }
  .btn_one::after {
    border-radius: clamp(.3125rem ,.1559309896rem + .5208333333vw ,.625rem)
  }
  .btn_two::after,
  .btn_two:before {
    border-radius: clamp(.625rem ,.4684309896rem + .5208333333vw ,.9375rem)
  }
  .header {
    min-height: clamp(3.375rem ,1.1517200521rem + 7.3958333333vw ,7.8125rem)
  }
  .header__logo {
    max-width: clamp(5.3125rem ,2.9326510417rem + 7.9166666667vw ,10.0625rem)
  }
  .hero__subtitle {
    font-size: clamp(1.875rem ,.8729583333rem + 3.3333333333vw ,3.875rem)
  }
  .what__title {
    margin-bottom: clamp(2.5rem ,2.1868619792rem + 1.0416666667vw ,3.125rem)
  }
  .what__txt {
    font-size: clamp(1.125rem ,.8118619792rem + 1.0416666667vw ,1.75rem)
  }
  .space {
    padding-top: clamp(3.125rem ,2.4987239583rem + 2.0833333333vw ,4.375rem)
  }
  .space {
    padding-bottom: clamp(3.125rem ,2.4987239583rem + 2.0833333333vw ,4.375rem)
  }
  .space__title {
    margin-bottom: clamp(2.5rem ,2.1868619792rem + 1.0416666667vw ,3.125rem)
  }
  .space__item:not(:last-child) {
    margin-bottom: clamp(1.125rem ,.9058033854rem + .7291666667vw ,1.5625rem)
  }
  .details__title:not(:last-child),
  .details__txt:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,1.2493619792rem + 1.0416666667vw ,2.1875rem)
  }
  .social__title {
    margin-bottom: clamp(2.0625rem ,1.9685585938rem + .3125vw ,2.25rem)
  }
  .social__txt {
    font-size: clamp(1.125rem ,.9058033854rem + .7291666667vw ,1.5625rem)
  }
  .events__item {
    border-radius: clamp(.625rem ,.3118619792rem + 1.0416666667vw ,1.25rem)
  }
  .events__item {
    padding: clamp(1.5rem ,1.1868619792rem + 1.0416666667vw ,2.125rem)
  }
}
@media (min-width:22.56125em)and (max-width:90.06125em) {
  .btn_one {
    padding-left: clamp(.9375rem ,.2063483796rem + 3.2407407407vw ,3.125rem)
  }
  .btn_one {
    padding-right: clamp(.9375rem ,.2063483796rem + 3.2407407407vw ,3.125rem)
  }
  .btn_two {
    padding-left: clamp(3.125rem ,2.6027488426rem + 2.3148148148vw ,4.6875rem)
  }
  .btn_two {
    padding-right: clamp(3.125rem ,2.6027488426rem + 2.3148148148vw ,4.6875rem)
  }
}
@media (min-width:30.06125em)and (max-width:240.06125em) {
  .what {
    padding-top: clamp(6.625rem ,4.5314486607rem + 6.9642857143vw ,21.25rem)
  }
  .what {
    padding-bottom: clamp(6.625rem ,4.5314486607rem + 6.9642857143vw ,21.25rem)
  }
  .space__item {
    padding-left: clamp(1.9375rem ,1.3201707589rem + 2.0535714286vw ,6.25rem)
  }
  .space__item:before {
    width: clamp(.8125rem ,.481468378rem + 1.1011904762vw ,3.125rem)
  }
}
@media (min-width:48.06125em)and (max-width:90.06125em) {
  .details {
    padding-top: clamp(.9375rem ,-4.6410379464rem + 11.6071428571vw ,5.8125rem)
  }
}
@media (min-width:90.06125em)and (max-width:217.56125em) {
  .details__link {
    min-width: clamp(20rem ,5.872745098rem + 15.6862745098vw ,40rem)
  }
}
@media (min-width:90.06125em)and (max-width:240.055625em) {
  .txt-block__item p {
    font-size: clamp(1.25rem ,.4994614381rem + .8333645845vw ,2.5rem)
  }
  .img-block__mask p {
    font-size: clamp(1.875rem ,.7491921572rem + 1.2500468768vw ,3.75rem)
  }
}
@media (max-width:68.81125em)and (min-width:43.81125em) {
  .txt-block__item p {
    font-size: .875rem!important
  }
  .img-block__mask p {
    font-size: 1.25rem!important
  }
}
@media (any-hover:hover) {
  .btn_one:hover::before {
    width: 100%
  }
  .btn_two:hover::after {
    opacity: 1
  }
  .spaces__image:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}