[class*="__container"] {
  width: 100%;
  padding-inline: toRem(20);
  margin-inline: auto;
  @include adaptiveValue("max-width", 1580, 1180,0,1920.98,1440.98);
}


* {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  &::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 3px;
  }
}


%mbNotChild40-35 {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 40,35,0,1440.98,480.98 );
  }
}

.title-hero {
  @include adaptiveValue("font-size", 114, 42,0,1920.98,375.98);
}


.title-big {
  color: #1f1101;
  text-align: center;
  @include adaptiveValue("font-size", 65, 35,0,1920.98,375.98);
  @extend %mbNotChild40-35;
}

.title-main {
  @include adaptiveValue("font-size", 45,35,0,1920.98,390.98);
}

.txt-main {
  line-height: 1.15;
  @include adaptiveValue("font-size", 25,18,0,1920.98,480.98);
}

.txt-28 {
  line-height: 1.15;
  @include adaptiveValue("font-size", 28,18,0,1920.98,480.98);
}
.txt-40 {
  line-height: 1.15;
  @include adaptiveValue("font-size", 40,28,0,1920.98,480.98);
}

.mb-120 {
  @include adaptiveValue("margin-bottom", 120, 70,0,1920.98,480.98);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-weight: 700;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  width: 100%;
  max-width: fit-content;
  border: toRem(1.5) solid transparent;
  backdrop-filter: blur(50px);
  @include adaptiveValue("min-height", 68,42,0,1920.98,480.98);
  @include adaptiveValue("border-radius", 34,21,0,1920.98,480.98);
  @include adaptiveValue("font-size", 30, 18,0,1920.98,480.98);
  @include adaptiveValue("padding-left", 70,40,0,1920.98,480.98);
  @include adaptiveValue("padding-right", 70,40,0,1920.98,480.98);
  span {
    display: inline-block;
    position: relative;
    z-index: 2;
  }
  // .btn_one
  &_one {
    background-color: #fff;
    @media (any-hover: hover){
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
        border-color: #fff;
      }
    }
    &:active {
      color: #fff;
    }
  }
	// .btn_two
	&_two {
    color: #000;
    background-color: $brown;
    @media (any-hover: hover){
      &:hover{
        background-color: rgba(218, 199, 190, 0.2);
        border-color: $brown;
      }
    }
    &:active {
      background-color: #fff;
    }
	}
	// .btn_three
	&_three {
	}
	// .btn_four
	&_four {
    border-color: $brown;
    min-height: toRem(46) !important;
    padding-left: toRem(45) !important;
    padding-right: toRem(45) !important;
    font-size: toRem(20) !important;
    @media (any-hover: hover){
      &:hover{
        background-color: rgba(218, 199, 190, 0.2);
      }
    }
    &:active {
      color: $brownDard;
    }
  }
}



%btnBefor {
  box-shadow: inset 0 0 26px 4px rgba(255, 255, 255, 0.8), inset 8px 7px 2px 0 rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(50px);
  @include adaptiveValue("border-radius", 15, 10,0,1440.98,480.98);
}


%borderRadius20-10 {
  @include adaptiveValue("border-radius", 15,10,0,1920.98,1440.98);
}
%borderRadius24-20 {
  @include adaptiveValue("border-radius", 24,20,0,1920.98,480.98);
}
%borderRadius24-10 {
  @include adaptiveValue("border-radius", 24,10,0,1920.98,480.98);
}

%pt100-500 {
  @include adaptiveValue("padding-top", 100, 50,0,1440.98,480.98);
}
%pb100-500 {
  @include adaptiveValue("padding-bottom", 100, 50,0,1440.98,480.98);
}

.to-top {
  @media (min-width:$mobileSmall){
     display: none; 
  }
  @media (max-width:$mobileSmall){
      position: fixed;
      bottom: toRem(20);
      right: toRem(20);
      z-index: 20;
      width: toRem(55);
      height: toRem(55);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #fff;
      border: toRem(1) solid $mainColor;
      box-shadow: 5px 4px 14px 0 rgba(0, 0, 0, 0.25);
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s ease;
      &._show {
        opacity: 1;
        pointer-events: all;
      }
  }
}


// Other programmer styles =============
.text-dark {
  color: #1F1101
}

.text-brown {
  color: #1E0C01CC;
}

.text-lightbrown {
  color: #9E5A1F;
}