.hero {
  position: relative;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;

  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width:$mobileSmall){
    background-image: url("../img/hero/hero-bg-pc.jpg");
  }
  @media (max-width:$mobileSmall){
    background-image: url("../img/hero/hero-bg-mb.jpg");
  }
  // .hero__container
  &__container {
    text-align: center;
    display: grid;
  }
  // .hero__title
  &__title {
    @include adaptiveValue("margin-bottom", 40,20,0,1920.98,390.98 );
  }
  // .hero__subtitle
  &__subtitle {
    @include adaptiveValue("font-size", 45, 30,0,1920.98,480.98);
    &:not(:last-child) {
      margin-bottom: toRem(50);
    }
    @media (max-width:$mobileSmall){
       max-width: 80%;
       margin-inline: auto; 
    }
  }
  // .hero__link
  &__link {
    margin-inline: auto;
  }
  	// .hero__mask
	&__mask {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    background-color: #fff;
	}
}


%zindex {
  position: relative;
  background-color: #fff;
}



// === WHAT SECTION =======================
.what {
  @extend %zindex;
  opacity: 0;
  min-height: 100vh;
  margin-top: 100svh;
  @extend %pt100-500;
  @extend %pb100-500;
  // .what__container
  &__container {
    text-align: center;
  }
	// .what__do
	&__do {
    @extend %pb100-500;
	}
  // .what__title
  &__title {
   
  }
  // .what__txt
  &__txt {
    @media (min-width:$mobile){
       max-width: 78%;
       margin-inline: auto; 
    }
   @extend %mbNotChild40-35;
  }
  // .what__list
  &__list {
  }
	// .what__membership
	&__membership {
	}
}

.list-what {
  gap: toRem(35);
  margin-inline: auto;
  max-width: toRem(1170);
  @media (min-width:$tablet){
    display: flex;
    justify-content: space-between;
  }
  @media (max-width:$tablet){
    display: grid;
  }
  @media (max-width:$tablet) and (min-width: toEm(820.98)) {
    grid-template-columns: repeat(3,1fr);
  }
  @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
    grid-template-columns: repeat(2,1fr);
  }
  @media (max-width: toEm(600.98)){
    
  }
  // .list-what__item
  &__item {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 25,20,0,1920.98,480.98);
    @media (min-width:$tablet){
      width: 28%;
    }
    img {
      width: auto;
      height: toRem(100);
    }
  }
  // .list-what__title
  &__title {
    font-size: toRem(28);
  }
  // .list-what__txt
  &__txt {
    flex: 1;
    @include adaptiveValue("font-size", 20,18,0,1920.98,480.98);
  }
}

.membership {
  @extend %pt100-500;
  // .membership__container
  &__container {
  }
  // .membership__title
  &__title {
  }
  // .membership__txt
  &__txt {
    margin-bottom: toRem(40);
    @media (min-width:$mobile){
      max-width: 79%;
      margin-inline: auto;
    }
  }
  // .membership__link
  &__link {
    margin-inline: auto;
  }
}


// ===  SOCIAL   SECTION =======================
%socialGrid {
  display: grid;
  gap: toRem(11);
}
.social {
  @extend %zindex;
  @extend %pt100-500;
  @include adaptiveValue("padding-bottom", 76,25,0,1920.98,480.98);
  // .social__container
  &__container {
  }
  // .social__title
  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 36, 33,0,1920.98,480.98);
  }
  // .social__body
  &__body {
    @extend %socialGrid;
    text-align: center;
    line-height: 1.15;
    font-weight: 700;
  }
  // .social__top
  &__top {
    @extend %socialGrid;
    @media (min-width:toEm(700.98)){
      grid-template-columns: 1fr 25% 1fr;
    }
  }
  // .social__btm
  &__btm {
    @extend %socialGrid;
    @media (min-width:toEm(700.98)){
      grid-template-columns: 1fr 38% 1fr;
    }
  }
  // .social__txt
  &__txt {
    line-height: 1.15;
    text-align: center;
    margin-bottom: toRem(40);
    @include adaptiveValue("font-size", 25,18,0,1920.98,480.98);
    @media (min-width:$mobile){
      max-width: 77%;
      margin-inline: auto;
    }
  }
  // .social__link
  &__link {
    margin-inline: auto;
  }
}

.top-scl {
  // .top-scl__clm
  &__clm {
    // @extend %socialGrid;
    display: flex;
    flex-direction: column;
    gap: toRem(11);
    .img-block {
     flex: 1;
    }
    &.clm-lft {
    }
    &.clm-ctr {
    }
    &.clm-rt {
    }
  }
}

.txt-block {
  @extend %socialGrid;
  grid-template-columns: 1fr 1fr;
  // .txt-block__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 234/98;
    border: toRem(1) solid $brown;
    @extend %borderRadius20-10;
    p {
      font-weight: 400;
      @include adaptiveValue("font-size", 20, 18,0,1920.98,480.98);
      @media (max-width: toEm(1100.98)) and (min-width: toEm(700.98)) {
        font-size: toRem(14) !important;
      }
      @media (max-width: toEm(360.98)){
        font-size: toRem(16) !important;
      }
    }
  }
}

.img-block {
  position: relative;
  overflow: hidden;
  &:has(.img-block__mask) {
    cursor: pointer;
  }
  @extend %borderRadius20-10;
  @media (max-width: toEm(700.98)){
      aspect-ratio: 390/250;
  }
  img {

  }
  // .img-block__mask
  &__mask {
    position: absolute;
    z-index: 2;
    inset: 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    transition: opacity .3s ease;
    
    p {
      transition: transform .3s ease;
      color: #fff;
      @include adaptiveValue("font-size", 30, 22,0,1920.98,1440.98);
      @media (max-width: toEm(1100.98)) and (min-width: toEm(700.98)) {
        font-size: toRem(20) !important;
      }
      @media (max-width: toEm(700.98)){
        font-size: toRem(30) !important;
      }
    }
    &::before {
      content:'';
      position: absolute;
      z-index: -1;
      inset: 0;
      background-color: rgba(0,0,0, 0.2);
    }
      &:hover {
        opacity: 0;
        p {
          transform: scale(1.1);
        }
      }
  }
}


// ===   COMMUNITY  SECTION =======================
.community {
  @extend %zindex;
  background: linear-gradient(180deg, #dac9be 0%, #edebe1 100%);
  // .community__container
  &__container {
    position: relative;
    z-index: 5;
  }
	// .community__title-wr
	&__title-wr {
    padding-top: toRem(100);
    position: sticky;
    top: 0;
    z-index: 0;
    min-height: 100svh;
    width: 100%;
   

    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
    @media (min-width:$mobileSmall){
      background-image: url('../img/community/community-pc-2.png');
      background-size: 60% auto;
    }
    @media (max-width:$mobileSmall){
      background-image: url('../img/community/community-mb-2.png');
      background-size: 100% auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
	}
  // .community__title
  &__title {
  }
	// .community__txt
	&__txt {
    @media (min-width:$mobileSmall){
       margin-inline: auto;
       max-width: 65%; 
    }
    @media (max-width:$mobileSmall){
       max-width: 80%; 
    }
	}
  // .community__events
  &__events {
  }
	// .community__mask
	&__mask {
    @media (min-width:toEm(700.98)){
      min-height: 130svh;
    }
    @media (max-width: toEm(700.98)){
      min-height: 100svh;
    }
	}
}

.events {
  // .events__items
  &__items {
    display: grid;
    gap: toRem(56) toRem(45);
    @media (min-width:toEm(700.98)){
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
      margin-inline: auto;
      margin-bottom: toRem(110);
    }
    @media (max-width:toEm(700.98)){
      margin-bottom: toRem(56);
    }
  }
  // .events__item
  // &__item,
  &__body {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(49px);
    -webkit-backdrop-filter: blur(49px);
    box-shadow: inset 0 0 26px 4px rgba(255, 255, 255, 0.8), inset 8px 7px 2px 0 rgba(255, 255, 255, 0.15), 2px 4px 15px 0 rgba(0, 0, 0, 0.15);
    background: linear-gradient(180deg, rgba(218, 199, 190, 0.2) 0%, #fff 100%);
    line-height: 1.15;
    @include adaptiveValue("border-radius", 25,10,0,1920.98,480.98);
    @include adaptiveValue("padding", 28, 19,0,1920.98,480.98);
  }
  &__item {
    @media (min-width:$tablet){
      max-width: 85%;
    }
    &:nth-child(2) {
      @media (min-width:toEm(700.98)){
        .events__body {
          transform: translateY(50%);
        }
      }
    }
  }
	// .events__body
	&__body {
	}
  // .events__img
  &__img {
    @include adaptiveValue("margin-bottom", 25,17,0,1920.98,390.98);
    img {
      aspect-ratio: 500/526;
      @extend %borderRadius20-10;
    }
  }
  // .events__title
  &__title {
    border-top: toRem(1) solid $gray51;
    border-bottom: toRem(1) solid $gray51;
    @include adaptiveValue("font-size", 40,25,0,1920.98,390.98);
    @extend %eventsPdTop;
    @extend %eventsPdBtm;
  }
  // .events__dscr
  &__dscr {
    flex: 1;
    color: #515151;
    @include adaptiveValue("font-size", 26,18,0,1920.98,390.98);
    @extend %eventsPdTop;
    P {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }
}

%eventsPdTop {
  @include adaptiveValue("padding-top", 20,15,0,1920.98,390.98);
}
%eventsPdBtm {
  @include adaptiveValue("padding-bottom", 20,15,0,1920.98,390.98);
}


// ===  SPACE   SECTION =======================
.space {
  @extend %zindex;
  @extend %pt100-500;
  @extend %pb100-500;
  // .space__container
  &__container {
  }
	// .space__head
	&__head {
   @include adaptiveValue("margin-bottom", 90, 80,0,1920.98,480.98);
	}
	// .space__txt
	&__txt {
    text-align: center;
    @media (min-width:toEm(600.98)){
        margin-inline: auto;
        max-width: 60%;
    }
	}
  // .space__top
  &__top {
    margin-bottom: toRem(35);
    column-gap: toRem(25);
    @media (min-width:toEm(700.98)){
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  // .space__top-lft
  &__top-lft {
    @media (min-width:$tablet){
      max-width: 66%;
    }
    @media (min-width:toEm(700.98)){
      padding-top: toRem(70);
    }
    @media (max-width:toEm(700.98)){
      max-width: 85%;
      margin-bottom: toRem(70);
      margin-inline: auto;
    }
  }
  // .space__title
  &__title {
    @media (max-width:toEm(700.98)){
       text-align: center; 
    }
  }
  // .space__list
  &__list {
  }
  // .space__item
  &__item {
    position: relative;
    @include adaptiveValue("font-size", 30,21,2,1920.98,1440.98);
    @include adaptiveValue("font-size", 21,17,3,1440.98,390.98);
    @include adaptiveValue("padding-left", 60,31,0,1920.98,480.98);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25,18,0,1920.98,480.98);
    }
    &:before {
      content:'';
      position: absolute;
      top: 10%;
      left: 0;
      aspect-ratio: 1/1;
      background-image: url("../img//icons/point.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      @include adaptiveValue("width", 28,13,0,1920.98,480.98);
    }
  }
  // .space__spaces
  &__spaces {
  }
  // .space__bottom
  &__bottom {
    .spaces__list {
      @media (min-width:toEm(700.98)){
        grid-template-columns: repeat(4,1fr);
      }
    }
  }
  // .space__details
  &__details {
  }
}

.spaces {
  @media (max-width: toEm(700.98)){
      margin: 0 toRem(-20);
  }
  // .spaces__list
  &__list {
    column-gap: toRem(25);
    @media (min-width:toEm(700.98)){
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: toEm(700.98)){
      display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-left: toRem(20);
      padding-right: toRem(20);
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  // .spaces__item
  &__item {
    min-height: 100%;
    @media (max-width: toEm(700.98)){
      width: 90%;
      // height: 100%;
      flex: none;
      overflow-y: hidden;
      scroll-snap-align: center;
    }
  }
	// .spaces__body
	&__body {
    display: flex;
    flex-direction: column;
    height: 100%;
	}
  // .spaces__head
  &__head {
    flex: 1;
    padding-bottom: toRem(19);
    border-bottom: toRem(1) solid $brown;
    margin-bottom: toRem(24);
  }
  // .spaces__title
  &__title {
    @include adaptiveValue("font-size", 30,22,0,1920.98,1440.98);
    @media (max-width: toEm(700.98)){
        font-size: toRem(30) !important;
    }
  }

  // .spaces__image
  &__image {
    overflow: hidden;
    @extend %borderRadius20-10;
    img {
      aspect-ratio: 351/402;
      transition: transform .7s ease;
      transform-origin: 50% 50%;
    }
    @media (any-hover: hover){
      &:hover{
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.details {
  display: grid;
  place-items: center;
  @extend %pt100-500;
  // .details__body
  &__body {
    text-align: center;
  }
  // .details__title
  &__title {
    margin-bottom: toRem(8);
    @include adaptiveValue("font-size", 40,30,0,1920.98,390.98);
  }
  // .details__txt
  &__txt {
    line-height: 1.15;
    @include adaptiveValue("font-size", 25,18,0,1920.98,390.98);
    @include adaptiveValue("margin-bottom", 35, 25,0,1920.98,480.98);
    @media (max-width:$mobileSmall){
      max-width: 80%;
      margin-inline: auto;
    }
  }
  // .details__link
  &__link {
    margin-inline: auto;
  }
}



// ===  TYPES   SECTION =======================
.types {
  @extend %zindex;
  @extend %pt100-500;
  @extend %pb100-500;
  // .types__container
  &__container {
  }
  // .types__title
  &__main-title {
  }
	// .types__list
	&__list {
    display: grid;
    gap: toRem(35);
    @media (min-width:toEm(870.98)){
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width:toEm(870.98)) and (min-width: toEm(600.98)) {
      grid-template-columns: repeat(2,1fr);
    }
  }
	// .types__item
	&__item {
    display: flex;
    flex-direction: column;
	}
	// .types__head
	&__head {
    position: relative;
    overflow: hidden;
    border-radius: toRem(10);
    background: url('../img/types/card-bg.png'), rgba(218,201,190,0.55);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width:$mobileSmall){
      aspect-ratio: 480/320;
    }
    @media (max-width:$mobileSmall){
      aspect-ratio: 381/289;
    }
    &:before {
      content:'';
      position: absolute;
      z-index: 2;
      border-radius: toRem(10);
      border: toRem(1) solid $brownDard;
      @include adaptiveValue("inset", 20,17,0,1920.98,480.98);
    }
	}
	// .types__title
	&__title {
    color: $brownDard;
    text-align: center;
    @include adaptiveValue("font-size", 65, 45,2,1920.98,1440.98);
    @include adaptiveValue("font-size", 45, 35,3,1440.98,870.98);
    @media (max-width:$mobileSmall){
       font-size: toRem(50) !important; 
    }
	}
	// .types__txts
	&__txts {
    flex: 1;
    margin-bottom: toRem(25);
    border-bottom: toRem(1) solid $brown;
    @media (min-width:toEm(1440.98)){
      padding: toRem(25);
    }
    @media (max-width: toEm(1440.98)){
      padding: toRem(25) toRem(15);
    }
    p {
      line-height: 1.15;
      text-align: center;
      color: $gray88;
      @include adaptiveValue("font-size", 22, 16,0,1920.98,480.98);
    }
	}
	// .types__link
	&__link {
    margin-inline: auto;
 
	}
}


// ===  TEAM   SECTION =======================
.team {
  @extend %zindex;
  @extend %pt100-500;
  @extend %pb100-500;
  // .team__container
  &__container {
  }
  // .team__body
  &__body {
    background-color: rgba(218,201,190,0.55);
    padding-top: toRem(70);
    padding-bottom: toRem(40);
    @include adaptiveValue("padding-left", 60,17,0,1920.98,480.98);
    @include adaptiveValue("padding-right", 60,17,0,1920.98,480.98);
    @include adaptiveValue("border-radius", 25,20,0,1920.98,480.98);
  }
  &__title,
  &__txt {
    text-align: center;
    @include adaptiveValue("margin-bottom", 40, 20,0,1920.98,1440.98);
  }
  // .team__title
  &__title {
  }
	// .team__txts
	&__txts {
	}
  // .team__txt
  &__txt {
    line-height: 1.2;
    margin-inline: auto;
    @media (min-width:toEm(600.98)){
      max-width: 85%;
    }
    &:nth-child(2) {
      @media (min-width:toEm(600.98)){
        max-width: 60%;
      }
    }
  }
  // .team__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // @include adaptiveValue("gap", 80,45,2,1440.98,480.98);
    @include adaptiveValue("gap", 45,10,0,1920.98,480.98);
  }
  // .team__item
  &__item {
    width: 100%;
    overflow: hidden;
    border-radius: toRem(10);
    position: relative;
    // @include adaptiveValue("max-width", 600,251,0,3840.98,1440.98);
    @media (min-width:$tablet){
      max-width: 19%;
    }
    @media (max-width:$tablet) and (min-width: toEm(600.98)) {
      max-width: 30%;
    }
    @media (max-width: toEm(600.98)){
        max-width: 48%;
    }
    img {
      aspect-ratio: 1/1;
    }
  }
  // .team__info
  &__info {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    color: #fff;
    @include adaptiveValue("padding", 19,10,0,1920.98,480.98 );
  }
  // .team__name
  &__name {
    font-weight: 700;
    @include adaptiveValue("font-size", 19, 13,0,1920.98,480.98);
    &:not(:last-child) {
      margin-bottom: toRem(4);
    }
  }
  // .team__position
  &__position {
    line-height: 1.1;
    @include adaptiveValue("font-size", 15, 10,0,1920.98,480.98);
  }
}

// ===  LOCATION   SECTION =======================
.location {
  @extend %zindex;
  @extend %pb100-500;
  // .location__container
  &__container {
  }
  // .location__title
  &__title {
  }
	// .location__images
	&__images {
    margin-bottom: toRem(50);
    display: grid;
    gap: toRem(22);
    @media (min-width:$mobileSmall){
      grid-template-columns: 1fr 58%;
    }
	}
	// .location__item
	&__item {
    overflow: hidden;
    @include adaptiveValue("border-radius", 25,20,0,1920.98,480.98);
    &:nth-child(1) {
      img {
        @media (min-width:$mobileSmall){
          object-position: left;
        }
      }
    }
    &:nth-child(2) {
      img {
        @media (min-width:$mobileSmall){
          aspect-ratio: 905/534;
        }
        @media (max-width:$mobileSmall){
          aspect-ratio: 390/290; 
        }
      }
    }
	}
	// .location__txt
	&__txt {
    text-align: center;
    @media (min-width:$mobileSmall){
       margin-inline: auto;
       max-width: 80%; 
    }
    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
	}
}
